/************* IMPOSTAZIONI GENERALI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
}

:root {
    --bordo: 2px dashed black;
}

/************* HEADER *************/

header {
    background-color: lightblue;
    min-height: 20rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-bar {
    background-color: green;
    height: 2rem;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    width: 20%;
    height: 100%;
    padding: 5px;
    border: var(--bordo);
}

.nav-center {
    width: 60%;
    text-align: center;
}

.nav-right {
    text-align: end;
}

.primo-riquadro {
    background-color: purple;
    min-height: 20rem;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.quadrato-viola {
    background-color: violet;
    min-height: 15rem;
    width: 70%;
    margin: 0.5rem 0;
    border: var(--bordo);
}

/***************** MAIN *****************/

.box {
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.colonna-left {
    min-height: 20rem;
    width: 50%;
    background-color: blue;
    border: var(--bordo);
}
.colonna-right {
    min-height: 20rem;
    width: 30%;
    background-color: pink;
    border: var(--bordo);
}

/***************** MAIN / BLOCCHI SUCCESSIVI AL PRIMO *****************/

.reverse {
    flex-direction: row-reverse;
    background-color: lightgrey;
}

.quadrato-verde {
    min-height: 20rem;
    width: 80%;
    background-color: green;
    border: var(--bordo);
    margin: 0.5rem 0;
}

/***************** FOOTER *****************/

footer {
    background-color: rgb(36, 36, 36);
}

.ultimo-riquadro {
    min-height: 20rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    justify-content: center;
}

.colonna-large {
    min-height: 20rem;
    width: 22%;
    background-color: pink;
    border: var(--bordo);
}

.colonna-small {
    min-height: 20rem;
    width: 14.5%;
    background-color: blue;
    border: var(--bordo);
}

hr {
    margin: 1rem 0;
}

.end-bar {
    background-color: lightgreen;
    width: 80%;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

button {
    border: var(--bordo);
    height: 50%;
    width: 10%;
}