/************* IMPOSTAZIONI GENERALI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
}

/************* IMPOSTAZIONI SPECIFICHE *************/

header {
    background-color: lightblue;
    min-height: 20rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-bar {
    background-color: green;
    height: 2rem;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    width: 20%;
    height: 100%;
    padding: 5px;
    border: 2px dashed black;
}

.nav-center {
    width: 60%;
    text-align: center;
}

.nav-right {
    text-align: end;
}

.primo-riquadro {
    background-color: purple;
    min-height: 20rem;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

.quadrato-viola {
    background-color: violet;
    min-height: 15rem;
    width: 70%;
    margin: 0.5rem 0;
    border: 2px dashed black;
}

/***************** MAIN *****************/

.box {
    min-height: 25rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.colonna-left {
    min-height: 20rem;
    width: 50%;
    background-color: blue;
    border: 2px dashed black;
}
.colonna-right {
    min-height: 20rem;
    width: 30%;
    background-color: pink;
    border: 2px dashed black;
}

/***************** PARTE DUE/TRE *****************/

.reverse {
    flex-direction: row-reverse;
    background-color: lightgrey;
}

.quadrato-verde {
    min-height: 20rem;
    width: 80%;
    background-color: green;
    border: 2px dashed black;
    margin: 0.5rem 0;
}